@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Namespaces
@inherits ComponentBase

@code {
    [Parameter]
    public required NamespaceTM Namespace { get; set; }

    [Parameter]
    public bool ExtraIndent { get; set; } = false;
}

@{
    var namespaceUrl = $"./{Namespace.Id}.html";

    var bsIndentClass = ExtraIndent
        ? "ms-3"
        : "ms-0";

    string collapseId = $"{Namespace.Name}-collapse";
}

<div data-id="namespace-section" id="@Namespace.Id">

    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-6 my-1 text-break @bsIndentClass" data-id="namespace-name">
            <samp>
                <a href="@namespaceUrl" class="refdocgen-link-primary">
                    <span class="refdocgen-text-tertiary">namespace</span>
                    <span>@((MarkupString)Namespace.Name.WithWbrAfterDots())</span>
                </a>
            </samp>
        </h1>

        <CollapseButton CollapseTarget="@collapseId" />
    </div>

    <hr class="my-2" />

    <div class="collapse show multi-collapse" id="@collapseId">
        <div data-id="namespace-types">
            @foreach (var type in Namespace.AllTypes)
            {
                <TypeNameRow Type="@type" ExtraIndent="@ExtraIndent" />
            }
        </div>
    </div>
</div>
