@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Links
@inherits ComponentBase

@code {
    [Parameter]
    public required CodeLinkTM Type { get; set; }

    /// <summary>
    /// ID of the language, in which the link text will be displayed. <c>null</c> if the text should be displayed in all available languages.
    /// </summary>
    [Parameter]
    public string? LanguageId { get; set; } = null;
}

@{
    string? memberSuffix = Type.MemberName is not null
            ? "." + Type.MemberName
            : null;
}

<span class="refdocgen-text-secondary">
    @if (Type.Url is not null) // display the link, if the URL is available
    {
        <a href="@Type.Url" class="refdocgen-link-secondary">
            @if (LanguageId is not null) // display the text only in the selected language
            {
                @(Type.Name[LanguageId] + memberSuffix)
            }
            else // display the text in all available language
            {
                <LanguageSpecificStrings Data="Type.Name" DataSuffix="@memberSuffix" />
            }
        </a>
    }
    else // display only the text if the URL is not available
    {
        @if (LanguageId is not null) // display the text only in the selected language
        {
            @(Type.Name[LanguageId] + memberSuffix)
        }
        else // display the text in all available language
        {
            <LanguageSpecificStrings Data="Type.Name" DataSuffix="@memberSuffix" />
        }
    }
</span>
