@using RefDocGen.TemplateGenerators.Default.TemplateModels.Members
@inherits ComponentBase

@code {
    [Parameter]
    public required IEnumerable<ParameterTM> Parameters { get; set; }
}

@{
    var lastParam = Parameters.Last();
}

@foreach (var p in Parameters)
{
    <span class="text-primary">
        @string.Join(' ', p.Modifiers)
    </span>
    <span> </span>
    <span class="text-secondary">@p.Type</span>
    <span>

    </span>

    @if (p == lastParam)
    {
        if (p.DefaultValue is not null)
        {
            <span class="text-dark">
                @p.Name

                <span class="text-secondary">=</span>
                <span class="text-success">@p.DefaultValue</span>
                <span class="text-secondary">)</span>
            </span>
        }
        else
        {
            <span class="text-dark">
                @p.Name<span class="text-secondary">)</span>
            </span>
        }
    }
    else
    {
        if (p.DefaultValue is not null)
        {
            <span class="text-dark">
                @p.Name
                <span class="text-secondary">=</span>
                <span class="text-success">@p.DefaultValue</span>
                ,
            </span>
        }
        else
        {
            <span class="text-dark">
                @p.Name,
            </span>
        }
    }
}
