@using RefDocGen.TemplateProcessors.Shared.TemplateTools
@inherits LayoutComponentBase

@code {
    [CascadingParameter]
    public string? CustomStyles { get; set; } = null;

    [CascadingParameter]
    public string[]? Versions { get; set; } = [];

    [CascadingParameter]
    public int NestingLevel { get; set; } = 1;
}

<!DOCTYPE html>
<html lang="en">

@{
    string stylesUrl = UrlHelper.GetRelativeUrl("Static/styles.css", NestingLevel);
    string customJsUrl = UrlHelper.GetRelativeUrl("Static/script.js", NestingLevel);
    string boostrapJsUrl = UrlHelper.GetRelativeUrl("Static/bootstrap-5.3.5-dist.bundle.min.js", NestingLevel);
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Reference documentation</title>

    <script>

        const isLocalFile = location.protocol === 'file:';

        if(isLocalFile){
            const urlParams = new URLSearchParams(window.location.search);

            // Preserve existing params and update or add 'version'

            let redirect = false;

            if(!urlParams.has('theme')){
                urlParams.set('theme', 'light');
                redirect = true;
            }
            if(!urlParams.has('lang')){
                urlParams.set('lang', 'csharp-lang');
                redirect = true;
            }

            if(redirect){
                const newUrl = new URL(window.location.href);
                newUrl.search = urlParams.toString();

                window.location.href = newUrl;
            }
            else {
                document.documentElement.setAttribute('data-bs-theme', urlParams.get('theme')); // set the 'data-bs-theme' attribute
            }
        }
        else {
            if (!localStorage.getItem('refdocgen-theme')) {
                localStorage.setItem('refdocgen-theme', 'light');
            }

            if (!localStorage.getItem('refdocgen-language')) {
                localStorage.setItem('refdocgen-language', 'csharp-lang');
            }

            document.documentElement.setAttribute('data-bs-theme', localStorage.getItem('refdocgen-theme')); // set the 'data-bs-theme' attribute
        }

    </script>

    <!-- Global CSS (Bootstrap + custom styles) -->
    <link href="@stylesUrl" rel="stylesheet" />

    @if (CustomStyles is not null)
    {
        string customStylesUrl = UrlHelper.GetRelativeUrl(CustomStyles, NestingLevel);

        <!-- Custom CSS for static pages -->
        <link href="@customStylesUrl" rel="stylesheet" />
    }
</head>

<body>
    <TopMenu NestingLevel="@NestingLevel" />

    <div class="container my-4" data-id="page-body">
        @Body
    </div>

    @if (Versions is not null)
    {
        <BottomMenu Versions="@Versions" />
    }

    <!-- Bootstrap JS -->
    <script src="@boostrapJsUrl"></script>

    <!-- Custom JS -->
    <script src="@customJsUrl"></script>

</body>
</html>
