@inherits ComponentBase

@code {
    [Parameter]
    public required IndexerTM[] Indexers { get; set; }
}

<h2 class="display-5 mt-2">Indexers</h2>
<div class="row" data-id="indexers-section">
    <div class="col-md-12">
        @foreach (var indexer in Indexers)
        {
            <div class="border p-2 mb-2" id="@indexer.Id" data-id="member-data">
                <h6 class="mb-1" data-id="member-name">
                    <samp>
                        <span class="text-primary">
                            @string.Join(' ', indexer.Modifiers)
                        </span>

                        <TypeLink Type="@indexer.Type" />

                        @if (indexer.Parameters.Any())
                        {
                            var lastParam = indexer.Parameters.Last();

                            <span class="text-dark"> this</span>

                            <ParametersString Parameters=indexer.Parameters Prefix="[" Suffix="]" />

                        }

                        <AccessorMethods HasGetter="indexer.HasGetter"
                                         HasSetter="indexer.HasSetter"
                                         IsSetterInitOnly="@indexer.IsSetterInitOnly"
                                         GetterModifiers="indexer.GetterModifiers"
                                         SetterModifiers="indexer.SetterModifiers" />

                        <AnchorLink Id="@indexer.Id" />
                    </samp>
                </h6>

                <SummaryDoc DocComment="@indexer.SummaryDocComment" />

                <ParameterDocs Parameters="@indexer.Parameters" />

                <ValueDoc DocComment="@indexer.ValueDocComment" />

                <AttributeList Attributes="@indexer.Attributes" />

                <!-- Remarks doc comment -->
                <RemarksDoc DocComment="@indexer.RemarksDocComment" />

                <ExceptionDocs Exceptions="@indexer.Exceptions" />

                <SeeAlsoDocs DocComments="@indexer.SeeAlsoDocComments" />
            </div>
        }
    </div>
</div>
