@inherits ComponentBase

@code {
    [Parameter]
    public required MethodTM[] Methods { get; set; }

    [Parameter]
    public required string SectionName { get; set; }
}

@{
    string memberKind = SectionName == "Operators"
        ? "operator"
        : "method";
}

<h2 class="display-5 mt-2">@SectionName</h2>
<div class="row" data-id="@(memberKind)s-section">
    <div class="col-md-12">
        @foreach (var method in Methods)
        {
            <div class="border p-2 mb-2" id="@method.Id" data-id="member-data">
                <h6 class="mb-1" data-id="member-name">
                    <samp>
                        <span class="text-primary">
                            @string.Join(' ', method.Modifiers)
                        </span>

                        <TypeLink Type="@method.ReturnType" />

                        <span class="text-dark">
                            @method.Name
                        </span><TypeParametersString TypeParameters="@method.TypeParameters" /><ParametersString Parameters="@method.Parameters" />

                        <AnchorLink Id="@method.Id" />
                    </samp>
                </h6>

                <TypeParametersConstraints TypeParameters="@method.TypeParameters" />

                <InheritedFromSection OriginalType="@method.InheritedFrom" />

                <OverridesSection BaseType="@method.BaseDeclaringType" />

                <ExplicitlyImplementsSection InterfaceType="@method.ExplicitInterfaceType" />

                @if (method.Interfaces.Any())
                {
                    @foreach (var iface in method.Interfaces)
                    {
                        <div class="text-primary ms-4 mb-2" data-id="explicitly-implemented-member">
                            <i>
                                Implements
                                <TypeLink Type="@iface" />
                            </i>
                        </div>
                    }
                }

                <SummaryDoc DocComment="@method.SummaryDocComment" />

                <TypeParameterDocs TypeParameters="@method.TypeParameters" />

                <ParameterDocs Parameters="@method.Parameters" />

                @if (!method.ReturnsVoid)
                {
                    <ReturnValueDoc DocComment="@method.ReturnsDocComment" Type="@method.ReturnType" />
                }

                <AttributeList Attributes="@method.Attributes" />

                <!-- Remarks doc comment -->
                <RemarksDoc DocComment="@method.RemarksDocComment" />

                <ExceptionDocs Exceptions="@method.Exceptions" />

                <SeeAlsoDocs DocComments="@method.SeeAlsoDocComments" />
            </div>
        }
    </div>
</div>
