@inherits ComponentBase

@code {
    [Parameter]
    public required MethodTM[] Methods { get; set; }

    [Parameter]
    public required string SectionName { get; set; }
}

<h2 class="display-5 mt-2">@SectionName</h2>
<div class="row">
    <div class="col-md-12">

        @foreach (var method in Methods)
        {
            <div class="border p-2 mb-2" id="@method.Id">
                <h6 class="mb-1">
                    <samp>
                        <span class="text-primary">
                            @string.Join(' ', method.Modifiers)
                        </span>

                        <TypeLink Type="@method.ReturnType" />

                        <span class="text-dark">
                            @method.Name
                        </span><TypeParametersString TypeParameters="@method.TypeParameters" /><ParametersString Parameters="@method.Parameters" />

                        <AnchorLink Id="@method.Id" />
                    </samp>
                </h6>

                <SummaryDoc DocComment="@method.SummaryDocComment" />

                <TypeParameterDocs TypeParameters="@method.TypeParameters" />

                <ParameterDocs Parameters="@method.Parameters" />

                @if (!method.ReturnsVoid)
                {
                    <ReturnValueDoc DocComment="@method.ReturnsDocComment" Type="@method.ReturnType" />
                }

                <AttributeList Attributes="@method.Attributes" />

                <!-- Remarks doc comment -->
                <RemarksDoc DocComment="@method.RemarksDocComment" />

                <ExceptionDocs Exceptions="@method.Exceptions" />

                <SeeAlsoDocs DocComments="@method.SeeAlsoDocComments" />
            </div>
        }
    </div>
</div>
