@inherits ComponentBase

@code {
    [Parameter]
    public required PropertyTM[] Properties { get; set; }
}

<h2 class="display-5 mt-2">Properties</h2>
<div class="row" data-id="properties-section">
    <div class="col-md-12">
        @foreach (var property in Properties)
        {
            <div class="border p-2 mb-2" id="@property.Id" data-id="member-data">
                <h6 class="mb-1" data-id="member-name">
                    <samp>
                        <span class="text-primary">
                            @string.Join(' ', property.Modifiers)
                        </span>

                        <TypeLink Type="@property.Type" />

                        <span class="text-dark">
                            @property.Name
                        </span>

                        <AccessorMethods HasGetter="@property.HasGetter"
                                         HasSetter="@property.HasSetter"
                                         IsSetterInitOnly="@property.IsSetterInitOnly"
                                         GetterModifiers="@property.GetterModifiers"
                                         SetterModifiers="@property.SetterModifiers" />

                        <LiteralValueSuffix Value="@property.ConstantValue" />

                        <AnchorLink Id="@property.Id" />
                    </samp>
                </h6>

                <InheritedFromSection OriginalType="@property.InheritedFrom" />

                <OverridesSection BaseType="@property.BaseDeclaringType" />

                <SummaryDoc DocComment="@property.SummaryDocComment" />

                <ValueDoc DocComment="@property.ValueDocComment" />

                <AttributeList Attributes="@property.Attributes" />

                <!-- Remarks doc comment -->
                <RemarksDoc DocComment="@property.RemarksDocComment" />

                <ExceptionDocs Exceptions="@property.Exceptions" />

                <SeeAlsoDocs DocComments="@property.SeeAlsoDocComments" />
            </div>
        }
    </div>
</div>
