@inherits ComponentBase

@code {
    [Parameter]
    public required DelegateTypeTM Delegate { get; set; }
}

<div class="csharp-lang">
    <span class="refdocgen-text-tertiary">@string.Join(' ', Delegate.Modifiers[Language.CSharp])</span>

    <TypeLink Type="@Delegate.ReturnType" />

    <span>
        @Delegate.Name
    </span><TypeParametersString TypeParameters="@Delegate.TypeParameters" /><ParametersString Parameters="@Delegate.Parameters" />
</div>
<div class="other-lang">
</div>
