@inherits ComponentBase

@code {
    [Parameter]
    public required MethodTM Method { get; set; }
}

<div class="csharp-lang">
    <span class="refdocgen-text-tertiary">
        @string.Join(' ', Method.Modifiers[Language.CSharp])
    </span>

    <TypeLink Type="@Method.ReturnType" />

    <span class="refdocgen-text-primary">
        @Method.Name
    </span><TypeParametersString TypeParameters="@Method.TypeParameters" /><ParametersString Parameters="@Method.Parameters" />
</div>
<div class="other-lang">
</div>
