@using RefDocGen.TemplateGenerators.Shared.TemplateModels.Menu
@inherits ComponentBase

@code {
    [Parameter]
    public required IEnumerable<AssemblyTM> Model { get; set; }

    [Parameter]
    public required TopMenuDataTM TopMenuData { get; set; }

    [Parameter]
    public required string[]? Versions { get; set; }
}

<CascadingValue Value="TopMenuData">
    <CascadingValue Value="Versions">
        <LayoutView Layout="typeof(AppLayout)">
            @foreach (var assembly in Model)
            {

                <h1 class="display-4">

                    <samp>
                        <a href="@(assembly.Name)-DLL.html" class="refdocgen-link-primary">
                            <span class="refdocgen-text-tertiary">assembly</span>
                            <span class="refdocgen-text-primary">@assembly.Name</span>
                        </a>
                    </samp>
                </h1>

                @* <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false">Toggle all</button> *@

                <hr />

                @foreach (var ns in assembly.Namespaces)
                {
                    var namespaceUrl = $"./{ns.Id}.html";

                    <div data-id="namespace-section" id="@ns.Id">

                        <div class="d-flex justify-content-between align-items-center">
                            <h1 class="display-6" data-id="namespace-name">
                                <samp>
                                    <a href="@namespaceUrl" class="refdocgen-link-primary">
                                        <span class="refdocgen-text-tertiary">namespace</span>
                                        <span>@ns.Name</span>
                                    </a>
                                </samp>
                            </h1>

                            <button class="btn" data-bs-toggle="collapse" data-bs-target="#@(ns.Name)-collapse" aria-expanded="false" aria-controls="@(ns.Name)-collapse">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
                                </svg>
                            </button>
                        </div>

                        <hr />

                        <div class="collapse show multi-collapse" id="@(ns.Name)-collapse">
                            <table class="table">
                                <tbody data-id="namespace-types">
                                    @foreach (var type in ns.AllTypes)
                                    {
                                        <TypeNameRow Type="@type" />
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            }

        </LayoutView>
    </CascadingValue>
</CascadingValue>
