@using RefDocGen.TemplateGenerators.Shared.TemplateModels.Menu
@inherits ComponentBase

@code {
    [Parameter]
    public required EnumTypeTM Model { get; set; }

    [Parameter]
    public required TopMenuDataTM TopMenuData { get; set; }

    /// <summary>
    /// Checks if the model has any (summary, remarks,...) doc comments.
    /// </summary>
    /// <returns>Boolean indicating whether the model is documented.</returns>
    private bool IsModelDocumented()
    {
        return Model.SummaryDocComment is not null || Model.RemarksDocComment is not null || Model.SeeAlsoDocComments.Any();
    }
}

<CascadingValue Value="TopMenuData">
    <LayoutView Layout="typeof(AppLayout)">
        <div data-id="declared-type-data">
            <DeclaredTypeName TypeName="@Model.Name" TypeKindName="enum" Modifiers="@Model.Modifiers" />

            <NamespaceLink Namespace="@Model.Namespace" />

            <hr />

            <SummaryDoc DocComment="@Model.SummaryDocComment" />

            <AttributeList Attributes="@Model.Attributes" />

            <!-- Remarks doc comment -->
            <RemarksDoc DocComment="@Model.RemarksDocComment" />

            <SeeAlsoDocs DocComments="@Model.SeeAlsoDocComments" />


            @if (IsModelDocumented())
            {
                <hr />
            }
        </div>

        <h2 class="display-5 mt-2">Members</h2>
        <div class="row">
            <div class="col-md-12">
                @foreach (var enumMember in Model.Members)
                {
                    <div class="border p-2 mb-2" id="@enumMember.Id" data-id="enum-member">
                        <h6 class="mb-1" data-id="member-name">
                            <samp>
                                <span class="text-dark">
                                    @enumMember.Name
                                </span>

                                <LiteralValueSuffix Value="@enumMember.Value" />

                                <AnchorLink Id="@enumMember.Id" />
                            </samp>
                        </h6>

                        <SummaryDoc DocComment="@enumMember.SummaryDocComment" />

                        <AttributeList Attributes="@enumMember.Attributes" />

                        <RemarksDoc DocComment="@enumMember.RemarksDocComment" />

                        <SeeAlsoDocs DocComments="@enumMember.SeeAlsoDocComments" />
                    </div>
                }
            </div>
        </div>
    </LayoutView>
</CascadingValue>
