@model RefDocGen.TemplateModels.ClassTemplateModel

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div>
        <h1>Class @Model.Name</h1>
        <p><i>@Model.DocComment</i></p>
        <h2>Fields</h2>
        <div>
            @foreach (var field in Model.Fields)
            {
                <div>
                    <h3>@string.Join(' ', field.Modifiers) @field.Name</h3>
                    <div>Type: @field.Type</div>
                    <p><i>@field.DocComment</i></p>
                </div>
            }
        </div>

        <h2>Properties</h2>
        <div>
            @foreach (var property in Model.Properties)
            {
                <div>
                    <h3>@string.Join(' ', property.Modifiers) @property.Name</h3>
                    <div>Type: @property.Type</div>
                    <p><i>@property.DocComment</i></p>
                    <ul>
                        @if (property.HasGetter)
                        {
                            <li>get</li>
                        }
                        @if (property.HasSetter)
                        {
                            <li>set</li>
                        }
                    </ul>
                </div>
            }
        </div>

        <h2>Methods</h2>
        <div>
            @foreach (var method in Model.Methods)
            {
                <div>
                    <h3>@string.Join(' ', method.Modifiers) @method.Name</h3>

                    <h4>Parameters</h4>
                    @foreach (var parameter in method.Parameters)
                    {
                        <div>
                            <h5>@parameter.Name</h5>
                            <div>Type: @parameter.Type</div>
                        </div>
                    }

                    <div>Return type: @method.ReturnType</div>
                    <p><i>@method.DocComment</i></p>
                </div>
            }
        </div>
    </div>
</body>
</html>
