@inherits ComponentBase
@using RefDocGen.TemplateGenerators.Default.Templates.Components.LanguageSpecific.CSharp.Utils

@code {
    [Parameter]
    public required DelegateTypeTM Delegate { get; set; }
}


<span class="refdocgen-text-tertiary">@string.Join(' ', Delegate.Modifiers.CSharpData)</span>

<GenericTypeLink Type="@Delegate.ReturnType" />

<span class="refdocgen-text-primary">
    @Delegate.Name
</span><TypeParametersString TypeParameters="@Delegate.TypeParameters" /><ParametersString Parameters="@Delegate.Parameters" />
