@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Members
@inherits ComponentBase

@code {
    [Parameter]
    public required ConstructorTM[] Constructors { get; set; }

    /// <summary>
    /// Checks whether the constructor has any documentation section ('summary', 'remarks', etc.)
    /// </summary>
    private bool HasAnyDocSection(ConstructorTM constructor)
    {
        return Checks.AnyNotNull(constructor.SummaryDocComment, constructor.RemarksDocComment, constructor.ExampleDocComment)
            || Checks.AnyNonEmpty(constructor.Parameters, constructor.Attributes, constructor.Exceptions, constructor.SeeAlsoDocComments);
    }
}

<h2 class="display-5 mt-2">Constructors</h2>
<div class="row" data-id="constructors-section">
    <div class="col-md-12">
        @foreach (var (index, constructor) in Constructors.Enumerate())
        {
            string collapseId = $"ctor-{index}-collapse";

            <div class="border px-2 py-1 mb-2" id="@constructor.Id" data-id="member-data">

                <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-0 text-break" data-id="member-declaration">
                        <samp>
                            <ConstructorDeclaration Constructor="@constructor" />

                            <AnchorLink Id="@constructor.Id" />
                        </samp>

                    </h6>

                    <CollapseButton CollapseTarget="@collapseId" IsVisible="@HasAnyDocSection(constructor)" />
                </div>

                <div class="collapse show multi-collapse" id="@collapseId">

                    <SummaryDoc DocComment="@constructor.SummaryDocComment" />

                    <ParameterDocs Parameters="@constructor.Parameters" />

                    <AttributesSection Attributes="@constructor.Attributes" />

                    <!-- Remarks doc comment -->
                    <RemarksDoc DocComment="@constructor.RemarksDocComment" />

                    <ExampleDoc DocComment="@constructor.ExampleDocComment" />

                    <ExceptionDocs Exceptions="@constructor.Exceptions" />

                    <SeeAlsoDocs DocComments="@constructor.SeeAlsoDocComments" />

                </div>
            </div>
        }
    </div>
</div>
