@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Members
@inherits ComponentBase

@code {
    [Parameter]
    public required ConstructorTM[] Constructors { get; set; }
}

<h2 class="display-5 mt-2">Constructors</h2>
<div class="row" data-id="constructors-section">
    <div class="col-md-12">
        @foreach (var constructor in Constructors)
        {
            <div class="border p-2 mb-2" id="@constructor.Id" data-id="member-data">
                <h6 class="mb-1" data-id="member-declaration">
                    <samp>
                        <ConstructorDeclaration Constructor="@constructor"/>

                        <AnchorLink Id="@constructor.Id" />
                    </samp>

                </h6>

                <SummaryDoc DocComment="@constructor.SummaryDocComment" />

                <ParameterDocs Parameters="@constructor.Parameters" />

                <AttributesSection Attributes="@constructor.Attributes" />

                <!-- Remarks doc comment -->
                <RemarksDoc DocComment="@constructor.RemarksDocComment" />

                <ExampleDoc DocComment="@constructor.ExampleDocComment" />

                <ExceptionDocs Exceptions="@constructor.Exceptions" />

                <SeeAlsoDocs DocComments="@constructor.SeeAlsoDocComments" />
            </div>
        }
    </div>
</div>
