@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Members
@inherits ComponentBase

@code {
    [Parameter]
    public required EventTM[] Events { get; set; }

    /// <summary>
    /// Checks whether the event has any documentation section ('summary', 'remarks', etc.)
    /// </summary>
    private bool HasAnyDocSection(EventTM e)
    {
        return Checks.AnyNotNull(e.SummaryDocComment, e.RemarksDocComment, e.ExampleDocComment,
                e.InheritedFrom, e.BaseDeclaringType, e.ExplicitInterfaceType)
            || Checks.AnyNonEmpty(e.Attributes, e.Exceptions, e.SeeAlsoDocComments,
                e.ImplementedInterfaces);
    }
}

<h2 class="display-5 mt-2">Events</h2>
<div class="row" data-id="events-section">
    <div class="col-md-12">
        @foreach (var (index, e) in Events.Enumerate())
        {
            string collapseId = $"event-{index}-collapse";

            <div class="border px-2 py-1 mb-2" id="@e.Id" data-id="member-data">

                <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-0 text-break" data-id="member-declaration">
                        <samp>
                            <EventDeclaration Event="@e" />

                            <AnchorLink Id="@e.Id" />
                        </samp>
                    </h6>

                    <CollapseButton CollapseTarget="@collapseId" IsVisible="@HasAnyDocSection(e)"/>
                </div>

                <div class="collapse show multi-collapse" id="@collapseId">

                    <MemberInheritedFrom OriginalType="@e.InheritedFrom" />

                    <MemberOverrides BaseType="@e.BaseDeclaringType" />

                    <MemberExplicitlyImplements Interface="@e.ExplicitInterfaceType" />

                    <MemberImplements Interfaces="@e.ImplementedInterfaces" />

                    <SummaryDoc DocComment="@e.SummaryDocComment" />

                    <AttributesSection Attributes="@e.Attributes" />

                    <RemarksDoc DocComment="@e.RemarksDocComment" />

                    <ExampleDoc DocComment="@e.ExampleDocComment" />

                    <ExceptionDocs Exceptions="@e.Exceptions" />

                    <SeeAlsoDocs DocComments="@e.SeeAlsoDocComments" />
                </div>
            </div>
        }
    </div>
</div>
