@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Members
@inherits ComponentBase

@code {
    [Parameter]
    public required FieldTM[] Fields { get; set; }
}

<h2 class="display-5 mt-2">Fields</h2>
<div class="row" data-id="fields-section">
    <div class="col-md-12">
        @foreach (var (index, field) in Fields.Enumerate())
        {
            string collapseId = $"field-{index}-collapse";

            <div class="border p-2 mb-2" id="@field.Id" data-id="member-data">

                <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-1 text-break" data-id="member-declaration">
                        <samp>
                            <FieldDeclaration Field="@field" />

                            <AnchorLink Id="@field.Id" />
                        </samp>

                    </h6>

                    <CollapseButton CollapseTarget="@collapseId" />
                </div>

                <div class="collapse show multi-collapse" id="@collapseId">

                    <MemberInheritedFrom OriginalType="@field.InheritedFrom" />

                    <SummaryDoc DocComment="@field.SummaryDocComment" />

                    <AttributesSection Attributes="@field.Attributes" />

                    <RemarksDoc DocComment="@field.RemarksDocComment" />

                    <ExampleDoc DocComment="@field.ExampleDocComment" />

                    <SeeAlsoDocs DocComments="@field.SeeAlsoDocComments" />

                </div>
            </div>
        }
    </div>
</div>
