@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Members
@inherits ComponentBase

@code {
    [Parameter]
    public required IndexerTM[] Indexers { get; set; }
}

<h2 class="display-5 mt-2">Indexers</h2>
<div class="row" data-id="indexers-section">
    <div class="col-md-12">
        @foreach (var (index, indexer) in Indexers.Enumerate())
        {
            string collapseId = $"indexer-{index}-collapse";

            <div class="border p-2 mb-2" id="@indexer.Id" data-id="member-data">
                <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-1 text-break" data-id="member-declaration">
                        <samp>
                            <IndexerDeclaration Indexer="@indexer" />

                            <AnchorLink Id="@indexer.Id" />
                        </samp>
                    </h6>

                    <CollapseButton CollapseTarget="@collapseId" />
                </div>

                <div class="collapse show multi-collapse" id="@collapseId">

                    <MemberInheritedFrom OriginalType="@indexer.InheritedFrom" />

                    <MemberOverrides BaseType="@indexer.BaseDeclaringType" />

                    <MemberExplicitlyImplements Interface="@indexer.ExplicitInterfaceType" />

                    <MemberImplements Interfaces="@indexer.ImplementedInterfaces" />

                    <SummaryDoc DocComment="@indexer.SummaryDocComment" />

                    <ParameterDocs Parameters="@indexer.Parameters" />

                    <ValueDoc DocComment="@indexer.ValueDocComment" />

                    <AttributesSection Attributes="@indexer.Attributes" />

                    <!-- Remarks doc comment -->
                    <RemarksDoc DocComment="@indexer.RemarksDocComment" />

                    <ExampleDoc DocComment="@indexer.ExampleDocComment" />

                    <ExceptionDocs Exceptions="@indexer.Exceptions" />

                    <SeeAlsoDocs DocComments="@indexer.SeeAlsoDocComments" />

                </div>
            </div>
        }
    </div>
</div>
