@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Members
@inherits ComponentBase

@code {
    [Parameter]
    public required IndexerTM[] Indexers { get; set; }

    /// <summary>
    /// Checks whether the indexer has any documentation section ('summary', 'remarks', etc.)
    /// </summary>
    private bool HasAnyDocSection(IndexerTM indexer)
    {
        return Checks.AnyNotNull(indexer.SummaryDocComment, indexer.ValueDocComment, indexer.RemarksDocComment, indexer.ExampleDocComment,
                indexer.InheritedFrom, indexer.BaseDeclaringType, indexer.ExplicitInterfaceType)
            || Checks.AnyNonEmpty(indexer.Parameters, indexer.Attributes, indexer.Exceptions, indexer.SeeAlsoDocComments,
                indexer.ImplementedInterfaces);
    }
}

<h2 class="display-5 mt-2">Indexers</h2>
<div class="row" data-id="indexers-section">
    <div class="col-md-12">
        @foreach (var (index, indexer) in Indexers.Enumerate())
        {
            string collapseId = $"indexer-{index}-collapse";

            <div class="border px-2 py-1 mb-2" id="@indexer.Id" data-id="member-data">
                <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-0 text-break" data-id="member-declaration">
                        <samp>
                            <IndexerDeclaration Indexer="@indexer" />

                            <AnchorLink Id="@indexer.Id" />
                        </samp>
                    </h6>

                    <CollapseButton CollapseTarget="@collapseId" IsVisible="@HasAnyDocSection(indexer)" />
                </div>

                <div class="collapse show multi-collapse" id="@collapseId">

                    <MemberInheritedFrom OriginalType="@indexer.InheritedFrom" />

                    <MemberOverrides BaseType="@indexer.BaseDeclaringType" />

                    <MemberExplicitlyImplements Interface="@indexer.ExplicitInterfaceType" />

                    <MemberImplements Interfaces="@indexer.ImplementedInterfaces" />

                    <SummaryDoc DocComment="@indexer.SummaryDocComment" />

                    <ParameterDocs Parameters="@indexer.Parameters" />

                    <ValueDoc DocComment="@indexer.ValueDocComment" />

                    <AttributesSection Attributes="@indexer.Attributes" />

                    <!-- Remarks doc comment -->
                    <RemarksDoc DocComment="@indexer.RemarksDocComment" />

                    <ExampleDoc DocComment="@indexer.ExampleDocComment" />

                    <ExceptionDocs Exceptions="@indexer.Exceptions" />

                    <SeeAlsoDocs DocComments="@indexer.SeeAlsoDocComments" />

                    <div class="mt-1" />
                </div>
            </div>
        }
    </div>
</div>
