@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Members
@inherits ComponentBase

@code {
    [Parameter]
    public required OperatorTM[] Operators { get; set; }
}

<h2 class="display-5 mt-2">Operators</h2>
<div class="row" data-id="operators-section">
    <div class="col-md-12">
        @foreach (var (index, op) in Operators.Enumerate())
        {
            string collapseId = $"operator-{index}-collapse";

            <div class="border px-2 py-1 mb-2" id="@op.Id" data-id="member-data">
                <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-0 text-break" data-id="member-declaration">
                        <samp>
                            <OperatorDeclaration Operator="@op" />

                            <AnchorLink Id="@op.Id" />
                        </samp>
                    </h6>

                    <CollapseButton CollapseTarget="@collapseId" />
                </div>

                <div class="collapse show multi-collapse" id="@collapseId">

                    <TypeParametersConstraintsSection TypeParameters="@op.TypeParameters" />

                    <MemberInheritedFrom OriginalType="@op.InheritedFrom" />

                    <MemberOverrides BaseType="@op.BaseDeclaringType" />

                    <MemberExplicitlyImplements Interface="@op.ExplicitInterfaceType" />

                    <MemberImplements Interfaces="@op.ImplementedInterfaces" />

                    <SummaryDoc DocComment="@op.SummaryDocComment" />

                    <TypeParameterDocs TypeParameters="@op.TypeParameters" />

                    <ParameterDocs Parameters="@op.Parameters" />

                    @if (!op.ReturnsVoid)
                    {
                        <ReturnValueDoc DocComment="@op.ReturnsDocComment" Type="@op.ReturnType" />
                    }

                    <AttributesSection Attributes="@op.Attributes" />

                    <!-- Remarks doc comment -->
                    <RemarksDoc DocComment="@op.RemarksDocComment" />

                    <ExampleDoc DocComment="@op.ExampleDocComment" />

                    <ExceptionDocs Exceptions="@op.Exceptions" />

                    <SeeAlsoDocs DocComments="@op.SeeAlsoDocComments" />
                </div>
            </div>
        }
    </div>
</div>
