@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Members
@inherits ComponentBase

@code {
    [Parameter]
    public required PropertyTM[] Properties { get; set; }

    /// <summary>
    /// Checks whether the property has any documentation section ('summary', 'remarks', etc.)
    /// </summary>
    private bool HasAnyDocSection(PropertyTM property)
    {
        return Checks.AnyNotNull(property.SummaryDocComment, property.ValueDocComment, property.RemarksDocComment, property.ExampleDocComment,
                property.InheritedFrom, property.BaseDeclaringType, property.ExplicitInterfaceType)
            || Checks.AnyNonEmpty(property.Attributes, property.Exceptions, property.SeeAlsoDocComments,
                property.ImplementedInterfaces);
    }
}

<h2 class="display-5 mt-2">Properties</h2>
<div class="row" data-id="properties-section">
    <div class="col-md-12">
        @foreach (var (index, property) in Properties.Enumerate())
        {
            string collapseId = $"property-{index}-collapse";

            <div class="border px-2 py-1 mb-2" id="@property.Id" data-id="member-data">
                <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-0 text-break" data-id="member-declaration">
                        <samp>
                            <PropertyDeclaration Property="@property" />

                            <AnchorLink Id="@property.Id" />
                        </samp>
                    </h6>

                    <CollapseButton CollapseTarget="@collapseId" IsVisible="@HasAnyDocSection(property)" />
                </div>

                <div class="collapse show multi-collapse" id="@collapseId">

                    <MemberInheritedFrom OriginalType="@property.InheritedFrom" />

                    <MemberOverrides BaseType="@property.BaseDeclaringType" />

                    <MemberExplicitlyImplements Interface="@property.ExplicitInterfaceType" />

                    <MemberImplements Interfaces="@property.ImplementedInterfaces" />

                    <SummaryDoc DocComment="@property.SummaryDocComment" />

                    <ValueDoc DocComment="@property.ValueDocComment" />

                    <AttributesSection Attributes="@property.Attributes" />

                    <!-- Remarks doc comment -->
                    <RemarksDoc DocComment="@property.RemarksDocComment" />

                    <ExampleDoc DocComment="@property.ExampleDocComment" />

                    <ExceptionDocs Exceptions="@property.Exceptions" />

                    <SeeAlsoDocs DocComments="@property.SeeAlsoDocComments" />
                </div>
            </div>
        }
    </div>
</div>
