@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Assemblies
@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Language
@using RefDocGen.TemplateProcessors.Shared.TemplateModels.Menu
@inherits ComponentBase

@code {
    [Parameter]
    public required AssemblyTM[] Model { get; set; }

    [Parameter]
    public required TopMenuDataTM TopMenuData { get; set; }

    [Parameter]
    public required string[]? Versions { get; set; }

    [Parameter]
    public required LanguageTM[] Languages { get; set; }

    [Parameter]
    public required string ProjectName { get; set; }
}

<CascadingValue Value="TopMenuData">
    <CascadingValue Value="Versions">
        <CascadingValue Value="Languages">
            <CascadingValue Value="ProjectName" Name="ProjectName">
                <LayoutView Layout="typeof(AppLayout)">

                    <div class="d-flex justify-content-between align-items-center">
                        <h1 class="display-3 refdocgen-text-primary" data-id="api-homepage-title">
                            @ProjectName API
                        </h1>

                        <CollapseAllButton />
                    </div>

                    <hr class="my-2" />

                    @foreach (var assembly in Model)
                    {
                        string collapseId = $"{assembly.Name}-DLL-collapse";

                        <div class="d-flex justify-content-between align-items-center">
                            <h1 class="display-5 my-2" data-id="assembly-name">
                                <samp>
                                    <a href="@(assembly.Name)-DLL.html" class="refdocgen-link-primary">
                                        <span class="refdocgen-text-tertiary">assembly</span>
                                        <span class="refdocgen-text-primary">@((MarkupString)assembly.Name.WithWbrAfterDots())</span>
                                    </a>
                                </samp>
                            </h1>

                            <CollapseButton CollapseTarget="@collapseId" />
                        </div>

                        <hr class="my-2" />

                        <div class="collapse show multi-collapse" id="@collapseId">
                            @foreach (var ns in assembly.Namespaces)
                            {
                                <NamespaceTypeList Namespace="@ns" ExtraIndent="true" />
                            }
                        </div>
                    }

                </LayoutView>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>
