@using RefDocGen.TemplateGenerators.Default.TemplateModels.Members
@inherits ComponentBase

@code {
    [Parameter]
    public required ConstructorTM[] Constructors { get; set; }

    [Parameter]
    public required string TypeName { get; set; }
}

<h2 class="display-5 mt-2">Constructors</h2>
<div class="row">
    <div class="col-md-12">
        @foreach (var constructor in Constructors)
        {
            <div class="border p-2 mb-2">
                <h6 class="mb-1">
                    <samp>
                        <span class="text-primary">
                            @string.Join(' ', constructor.Modifiers)
                        </span>
                        <span class="text-dark">
                            @TypeName
                        </span>

                        (<ParametersString Parameters="@constructor.Parameters" />)
                    </samp>

                </h6>

                <SummaryDocumentation DocComment="@constructor.SummaryDocComment" />

                <ParametersDocumentation Parameters="@constructor.Parameters" />

                <!-- Remarks doc comment -->
                <RemarksDocumentation DocComment="@constructor.RemarksDocComment" />

                <ExceptionsDocumentation Exceptions="@constructor.Exceptions" />

                <SeeAlsoDocumentation DocComments="@constructor.SeeAlsoDocComments" />
            </div>
        }
    </div>
</div>
