@using RefDocGen.TemplateGenerators.Default.TemplateModels.Members
@inherits ComponentBase

@code {
    [Parameter]
    public required IndexerTM[] Indexers { get; set; }
}

<h2 class="display-5 mt-2">Indexers</h2>
<div class="row">
    <div class="col-md-12">
        @foreach (var indexer in Indexers)
        {
            <div class="border p-2 mb-2">
                <h6 class="mb-1">
                    <samp>
                        <span class="text-primary">
                            @string.Join(' ', indexer.Modifiers)
                        </span>

                        <TypeLink Type="@indexer.Type" />

                        @if (indexer.Parameters.Any())
                        {
                            var lastParam = indexer.Parameters.Last();

                            <span class="text-dark">
                                this<span class="text-secondary">[</span>
                            </span>

                            @foreach (var p in indexer.Parameters)
                            {
                                <span class="text-primary">
                                    @string.Join(' ', p.Modifiers)
                                </span>

                                <TypeLink Type="@p.Type" />

                                @if (p == lastParam)
                                {
                                    <span class="text-dark">
                                        @p.Name<span class="text-secondary">]</span>
                                    </span>
                                }
                                else
                                {
                                    <span class="text-dark">
                                        @($"{p.Name},")
                                    </span>
                                }
                            }
                        }

                        <span class="text-secondary">{ </span>

                        @{
                            var getterWithModifiers = indexer.HasGetter ? $"{string.Join(' ', indexer.GetterModifiers)} get" : string.Empty;
                            var setterWithModifiers = indexer.HasSetter ? $"{string.Join(' ', indexer.SetterModifiers)} set" : string.Empty;
                        }

                        @if (indexer.HasGetter)
                        {
                            <span class="text-primary">
                                @getterWithModifiers<span class="text-secondary">;</span>
                            </span>
                        }
                        @if (indexer.HasSetter)
                        {
                            <span class="text-primary">
                                @setterWithModifiers<span class="text-secondary">;</span>
                            </span>
                        }

                        <span class="text-secondary">}</span>
                    </samp>
                </h6>

                <SummaryDocumentation DocComment="@indexer.SummaryDocComment" />

                <ParametersDocumentation Parameters="@indexer.Parameters" />

                <ValueDocumentation DocComment="@indexer.ValueDocComment" />

                <!-- Remarks doc comment -->
                <RemarksDocumentation DocComment="@indexer.RemarksDocComment" />

                <ExceptionsDocumentation Exceptions="@indexer.Exceptions" />

                <SeeAlsoDocumentation DocComments="@indexer.SeeAlsoDocComments" />
            </div>
        }
    </div>
</div>
